[Desktop Entry]
Type=Application
Name=Password Manager
GenericName=Password Manager
Comment=Securely store and manage your passwords
Exec=/home/navab/Documents/dev/Password-Manager/launcher.sh
Icon=/home/navab/Documents/dev/Password-Manager/assets/main.png
Terminal=false
Categories=Utility;Security;Settings;
StartupNotify=true
StartupWMClass=PasswordManager